In [25]:
import pandas as pd
from sklearn.utils import shuffle

In [3]:
check2 = pd.read_csv('twitDB_regular.csv', sep='\t')

In [4]:
check3 = pd.read_csv('twitDB_sarcasm.csv', sep='\t')

In [5]:
check2.head()

  \u201c@Dorytbh: why did god make me a horny slut\u201d @Sadie_marciano @EmmyzAEatchuu  haaaaaaaaallpppppp
0  Besides holland, portugal can beat any team th...
1  Messi will never have a great game because tea...
2  @sarkhat7ajar \u0632\u0648\u064a\u064a\u064a\u...
3                                       Flares &lt;3
4  @elliebrileyy @vunirinio leave now pls x http:...

In [6]:
check2.columns = ['tweets']

In [7]:
check2.head()

                                              tweets
0  Besides holland, portugal can beat any team th...
1  Messi will never have a great game because tea...
2  @sarkhat7ajar \u0632\u0648\u064a\u064a\u064a\u...
3                                       Flares &lt;3
4  @elliebrileyy @vunirinio leave now pls x http:...

In [8]:
check2['tweet'] = 0

In [9]:
check2.head()

                                              tweets  tweet
0  Besides holland, portugal can beat any team th...      0
1  Messi will never have a great game because tea...      0
2  @sarkhat7ajar \u0632\u0648\u064a\u064a\u064a\u...      0
3                                       Flares &lt;3      0
4  @elliebrileyy @vunirinio leave now pls x http:...      0

In [11]:
check2.head()

                                              tweets  tweet
0  Besides holland, portugal can beat any team th...      0
1  Messi will never have a great game because tea...      0
2  @sarkhat7ajar \u0632\u0648\u064a\u064a\u064a\u...      0
3                                       Flares &lt;3      0
4  @elliebrileyy @vunirinio leave now pls x http:...      0

In [12]:
check2.columns = ['tweets', 'label']

In [13]:
check2.head()

                                              tweets  label
0  Besides holland, portugal can beat any team th...      0
1  Messi will never have a great game because tea...      0
2  @sarkhat7ajar \u0632\u0648\u064a\u064a\u064a\u...      0
3                                       Flares &lt;3      0
4  @elliebrileyy @vunirinio leave now pls x http:...      0

In [14]:
check3.head()

                                     Thanks #sarcasm
0  RT @ladysynch: Top tip. To illicit a \"thank y...
1  Thanks to whoever just threw the bag of waterm...
2  RT @skimma6: yes let's #EndFathersDay because ...
3  Well it's just gonna turn into a lovely day #s...
4       @BOSS_ASS_BITCHx Hahaha funny #Sarcasm =P xD

In [15]:
check3['label'] = 1

In [16]:
check3.head()

                                     Thanks #sarcasm  label
0  RT @ladysynch: Top tip. To illicit a \"thank y...      1
1  Thanks to whoever just threw the bag of waterm...      1
2  RT @skimma6: yes let's #EndFathersDay because ...      1
3  Well it's just gonna turn into a lovely day #s...      1
4       @BOSS_ASS_BITCHx Hahaha funny #Sarcasm =P xD      1

In [17]:
check3.columns = ['tweets', 'label']

In [18]:
check3.head()

                                              tweets  label
0  RT @ladysynch: Top tip. To illicit a \"thank y...      1
1  Thanks to whoever just threw the bag of waterm...      1
2  RT @skimma6: yes let's #EndFathersDay because ...      1
3  Well it's just gonna turn into a lovely day #s...      1
4       @BOSS_ASS_BITCHx Hahaha funny #Sarcasm =P xD      1

In [19]:
check2.head()

                                              tweets  label
0  Besides holland, portugal can beat any team th...      0
1  Messi will never have a great game because tea...      0
2  @sarkhat7ajar \u0632\u0648\u064a\u064a\u064a\u...      0
3                                       Flares &lt;3      0
4  @elliebrileyy @vunirinio leave now pls x http:...      0

In [20]:
print(check2.shape)
print(check3.shape)

(330691, 2)
(150335, 2)

In [21]:
frames = [check2,check3]
final = pd.concat(frames)

In [22]:
final.head()

                                              tweets  label
0  Besides holland, portugal can beat any team th...      0
1  Messi will never have a great game because tea...      0
2  @sarkhat7ajar \u0632\u0648\u064a\u064a\u064a\u...      0
3                                       Flares &lt;3      0
4  @elliebrileyy @vunirinio leave now pls x http:...      0

In [24]:
final.shape

(481026, 2)

In [26]:
final = shuffle(final)

In [27]:
final.head()

                                                   tweets  label
170664  San Diego has been so amazing so far today, tw...      0
75932   CLINT OMGGGGGGGGGG FUCKKKKKK I DONT WHATS HAPP...      0
197724  \ud83d\udcaf\ud83d\udcaf\ud83d\udcaf\ud83d\udc...      0
225867  Fuu Safeway got me slaving on July 4th \ud83d\...      0
188024   My mom is already planning to kick me out lmfaoo      0

In [28]:
final.tail()

                                                   tweets  label
260291       But I feel ten times more tired \ud83d\ude34      0
182969  it's 11:24 and ik damn well I'm not supposed t...      0
146827  I love when people say they are going to call ...      1
104807  @_Quasiaab hurddd jus lemme know cus july bout...      0
267991  @Michael5SOS \n\u2716\u270c\u2716\u270c\u2716\...      0

In [33]:
final.to_csv('finalData.csv', index=False)

In [35]:
x = pd.read_csv('finaldata.csv')

In [37]:
x.describe()

               label
count  481026.000000
mean        0.312530
std         0.463525
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000

In [38]:
x.head()

                                              tweets  label
0  San Diego has been so amazing so far today, tw...      0
1  CLINT OMGGGGGGGGGG FUCKKKKKK I DONT WHATS HAPP...      0
2  \ud83d\udcaf\ud83d\udcaf\ud83d\udcaf\ud83d\udc...      0
3  Fuu Safeway got me slaving on July 4th \ud83d\...      0
4   My mom is already planning to kick me out lmfaoo      0

In [39]:
x.tail()

                                                   tweets  label
481021       But I feel ten times more tired \ud83d\ude34      0
481022  it's 11:24 and ik damn well I'm not supposed t...      0
481023  I love when people say they are going to call ...      1
481024  @_Quasiaab hurddd jus lemme know cus july bout...      0
481025  @Michael5SOS \n\u2716\u270c\u2716\u270c\u2716\...      0

In [40]:
x.groupby('label').count()

       tweets
label
0      330691
1      150335